@model QuizApp.Models.Test

@{
    ViewBag.Title = "Delete";
}

<h2>Удалить тест</h2>

<h3>Вы уверены, что хотите удалить тест?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Тема
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.CategoryName)
        </dd>

        <dt>
            Подтема
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subcategory.SubcategoryName)
        </dd>

        <dt>
            Подподтема
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubSubcategory.SubSubcategoryName)
        </dd>

        <dt>
            Название теста
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TestTitle)
        </dd>

        <dt>
            Описание теста
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            Продолжительность
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Duration)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> |
            @Html.ActionLink("Назад", "Index")
        </div>
    }
</div>
