@model QuizApp.Models.Test

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Test</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Category.CategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.CategoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Subcategory.SubcategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subcategory.SubcategoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubSubcategory.SubSubcategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubSubcategory.SubSubcategoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TestTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TestTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Duration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Duration)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
