@model IEnumerable<QuizApp.Models.Test>

@{
    ViewBag.Title = "Index";
}

<h2>Список тестов</h2>

<p>
    @Html.ActionLink("Добавить тест", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Тема
        </th>
        <th>
            Подтема
        </th>
        <th>
            Подподтема
        </th>
        <th>
            Название теста
        </th>
        <th>
            Описание теста
        </th>
        <th>
            Продолжительность
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Category.CategoryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Subcategory.SubcategoryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SubSubcategory.SubSubcategoryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TestTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Duration)
        </td>
        <td>
            @Html.ActionLink("Редактировать", "Edit", new { id=item.Id }) 
            @Html.ActionLink("Удалить", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
